/* Move the "Add" button to the top of the repeater */
.fi-fo-repeater-builder > .fi-fo-repeater-builder-items {
    order: 2;
}

.fi-fo-repeater-builder > .flex {
    order: 1;
}

:root {
    /* Primary (Blue) */
    --primary-50: 210 100% 98%;
    --primary-100: 210 100% 96%;
    --primary-200: 210 100% 90%;
    --primary-300: 210 100% 80%;
    --primary-400: 210 100% 70%;
    --primary-500: 210 100% 60%;
    --primary-600: 210 100% 50%;
    --primary-700: 210 100% 40%;
    --primary-800: 210 100% 30%;
    --primary-900: 210 100% 20%;
    --primary-950: 210 100% 10%;

    /* Success (Green) - can be used for success messages, etc. */
    --success-50: 145 68% 95%;
    --success-100: 145 69% 90%;
    --success-200: 145 70% 82%;
    --success-300: 145 70% 68%;
    --success-400: 145 71% 52%;
    --success-500: 145 71% 39%;
    --success-600: 145 71% 32%;
    --success-700: 145 71% 26%;
    --success-800: 145 71% 21%;
    --success-900: 145 71% 17%;
    --success-950: 145 71% 13%;
}
